body { height: 100%; }
html { height: 100%; }

body {
  color: white;
}

#header {
    margin-bottom: 5px;
    position: relative;
}

#header img {
    float: left;
    break: right;
}

#header div { float: left; }

#outer {
    margin-left: 5%;
    margin-right: 5%;
    min-height: 100%;
}

#breadcrumbs {
    margin-bottom: 5px;
}

#controls {
    position: relative;
	  float: left;
    min-width: 110px;
    margin-right: 5px;
}

#content {
    overflow: hidden;
    min-height: 100%;
}

#pre-footer {
    clear: both;
    height: 10px;
}

#footer {
    position: absolute;
    overflow: hidden;
    bottom: 1em;
    right: 5%;
    left: 5%;
}
