body { height: 100%; }
html { height: 100%; }

#header {
    margin-bottom: 10px;
}

#outer {
    margin-left: 5%;
    margin-right: 5%;
    min-height: 100%;
}

#controls {
    position: relative;
	  float: left;
    min-width: 110px;
    margin-right: 5px;
}

#content {
    overflow: hidden;
    min-height: 100%;
}

#pre-footer {
    clear: both;
    height: 10px;
}

#footer {
    position: absolute;
    overflow: hidden;
    bottom: 1em;
    right: 5%;
    left: 5%;
}
